<!DOCTYPE html>
<html lang="en">

<html>
<head>
  <meta name="robots" content="noindex">
  <meta charset="utf-8">
  <link rel="shortcut icon" id="favicon" href="{{proxyPrefix}}/static/icon/favicon">
{{#if title}}
  <title>{{title}}</title>
{{else}}
  <title>System page</title>
{{/if}}
  {{{render 'head-scripts'}}}
</head>
<body>
  {{{body}}}
</body>
</html>
