<script>
  window.__initialState__ = {{{initialState}}}
</script>

{{prefixScript '/static/js/app/view/indexModule.js'}}
{{prefixScript '/static/app.js' 'scripts'}}

<div class="col">
  <h1>node-web</h1>

  {{#if error}}
    <p>Error: {{error}}</p>
  {{else}}
    <div id="kth-node">{{{html}}}</div>
  {{/if}}
</div>

