<form name="searchForm" id="searchForm" method="get" role="search" aria-describedby="search-button-fristaende">
        <input type="hidden" name="l" value="sv">
        <div>
            <label for="type">Typ av kurs:</label>
            <div>
                <div>
                    <select id="type" name="type">
                        {{#each courseTypes}}
                            <option value="{{this.code}}" {{#if (eq ../queryParams.type this.code)}}selected{{/if}}>
                                {{this.titleSv}}
                            </option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>

        <div>
            <label for="start">Starttermin:</label>
            <div >
                <div >
                    <select id="start" name="start" >
                        {{#each termOptions}}
                            <option value="{{this.code}}" {{#if (eq ../queryParams.start this.code)}}selected{{/if}}>
                                {{this.titleSv}}
                            </option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>

        <div>
            <label for="mainsubject">Huvudområde</label>
            <div>
                <div>
                    <select id="mainsubject" name="mainsubject" class="form-control">
                        <option value="">
                            -
                        </option>

                        {{#each mfosOptions}}
                            <option value="{{this.code}}"  {{#if (eq ../queryParams.mainsubject this.code)}}selected{{/if}}>
                                {{this.titleSv}}
                            </option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>

        <div>
            <label for="studyPace">Studietakt</label>
            <div>
                <div>
                    <select id="studyPace" name="studyPace" class="form-control">
                        <option value="" selected="">
                        -
                        </option>
                        {{#each studyPaceOptions}}
                            <option value="{{this.code}}"  {{#if (eq ../queryParams.studypace this.code)}}selected{{/if}}>
                                {{this.titleSv}}
                            </option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>

        <div>
            <button id="search-button-fristaende" class="btn btn-primary">Sök kurs</button>
        </div>

    </form>
<table>
    <thead>
        <tr>
            <td>Kurskod</td>
            <td>Kursnamn</td>
        </tr>
    </thead>
    <tbody>
        {{#each fovCoursesResults}}
        <tr>
            <td>{{this.title.sv}}</td>
            <td>{{this.code}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
