<form name="searchForm" id="searchForm" method="get" role="search" aria-describedby="search-button-fristaende">
        <input type="hidden" name="l" value="sv">

         <div class="form-group">
           <label class="form-control-label" for="type">Typ av kurs:</label>
           <div class="form-select form-group">
             <div class="select-wrapper">
               <select class="form-control" id="type" name="type">
               {{#each courseTypes}}
               <option value="{{this.code}}" {{#if (eq ../queryParams.type this.code)}}selected{{/if}}>
                   {{this.titleSv}}
               </option>
               {{/each}}
               </select>
             </div>
           </div>
         </div>

        <div class="form-group">
            <label class="form-control-label" for="start">Starttermin:</label>
            <div class="form-select form-group">
                <div class="select-wrapper">
                    <select class="form-control" id="start" name="start">
                        {{#each termOptions}}
                        <option value="{{this.code}}" {{#if (eq ../queryParams.start this.code)}}selected{{/if}}>
                            {{this.titleSv}}
                        </option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="mainsubject">Huvudområde:</label>
            <div class="form-select form-group">
                <div class="select-wrapper">
                    <select class="form-control" id="mainsubject" name="mainsubject">
                    <option value="">
                        -
                    </option>
                    {{#each mfosOptions}}
                        <option value="{{this.code}}"  {{#if (eq ../queryParams.mainsubject this.code)}}selected{{/if}}>
                            {{this.titleSv}}
                        </option>
                    {{/each}}
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="studypace">Studietakt:</label>
            <div class="form-select form-group">
                <div class="select-wrapper">
                    <select class="form-control" id="studypace" name="studypace">
                        <option value="" selected="">
                        -
                        </option>
                        {{#each studyPaceOptions}}
                            <option value="{{this.code}}"  {{#if (eq ../queryParams.studypace this.code)}}selected{{/if}}>
                                {{this.titleSv}}
                            </option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>


        <div style="padding-bottom:40px">
            <button id="search-button-fristaende" class="btn btn-primary">Sök kurs</button>
        </div>

    </form>
{{#if fovCoursesResults}}
<div class="table">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Kurskod</th>
                <th scope="col">Kursnamn</th>
            </tr>
        </thead>
        <tbody>
            {{#each fovCoursesResults}}
            <tr>
                <td>{{this.title.sv}}</td>
                <td>{{this.code}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/if}}
